body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: rgb(32, 51, 24);
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.2), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.2), transparent)
  }

button{
  padding: 1vh;
  background-color: transparent;
  border: 0.3vh solid rgb(255, 255, 255);
  position: sticky;
  font-family:'Orbital';
  color: white;
  font-weight: lighter;
  cursor: pointer;
  width: 110px;
}

#container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Shuffle{
  margin-right: 2rem;
}

#Back{
  margin-left: 2rem;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
  }

h1{
  
  font-family:'Orbital';
  color: white;
  font-weight: lighter;
  font-size: 6vh;
  text-align: center;
}
  
@font-face {
  font-family: 'Orbital';
  src: url("./FontSamples/MBF\ ORBITAL\ COLONY.woff") format("woff"), url("./FontSamples/MBF\ ORBITAL\ COLONY.ttf") format("truetype");
}
 


.visualizer-container{
  position: absolute;
  bottom: 25%;
  width: 100%;
  
  /* z-index: 2; */
  text-align: center;
}
.visualizer-container__bar{
  display: inline-block;
  background: white;
  margin: 0 2px;
  width: 0.35%;
  
  z-index: 2;
}


p{

  font-family:'Orbital';
  color: white;
  font-weight: lighter;
  font-size: 4vh;

}

audio{
  position: sticky;
  
}

@media only screen and (max-width:700px){
  .visualizer-container{
    bottom:20%;}
  h1{
    font-size: 5vh;
    text-align: center;
  }
  p{
    font-size: 3.5vh;
    text-align: center;
  }
}