body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  background-color: rgb(44, 56, 160);
  background-image: radial-gradient(circle at top right, rgba(0, 0, 0, 1), transparent), radial-gradient(circle at 20% 80%, rgba(0, 0, 0, 1), transparent);
  
}


@font-face {
  font-family: 'Orbital';
  src: url("./FontSamples/MBF\ ORBITAL\ COLONY.woff") format("woff"), url("./FontSamples/MBF\ ORBITAL\ COLONY.ttf") format("truetype");
}



canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

#header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height:30vh;
}
#welcome{
  margin: 0;
  /* padding: 2vh;
  border: 0.5vh solid rgb(255, 255, 255); */
  font-size: 7vw;
  font-family:'Orbital';
  color: white;
  font-weight: lighter;
}
.navbar{
  display:flex;
  gap:4rem;
  height: 30vh;
  cursor: pointer;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  width: 15vw;
  height: 15vh;
  background-color: transparent;
  border: 0.5vh solid rgb(255, 255, 255);
  font-size: 2.5vw;
  font-family:'Orbital';
  color: white;
  font-weight: lighter;
  cursor: pointer;
  position:sticky;
  text-align: center;
}

footer{
  position:sticky
}

#github{
  width: 11.6vh;
  height: 10vh;
  
  
}

#linkedin{
  width: 14vh;
  height: 12vh;
  

}

footer{
  font-size: 2vh;
  font-family:'Orbital';
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
}

